.evaluation-page__content {
    padding: 1rem 0;
}

@media only screen and (min-width: 769px) {
    .evaluation-page__content { padding: 3rem 2rem; }
}
@media only screen and (min-width: 1367px) { 
    .evaluation-page__content {  padding: 3rem; }
}

/* Icons */
.pda-icon-16 {
    width: 16px;
    height: 16px;
}
.pda-icon-32 {
    width: 32px;
    height: 32px;
}
.pda-icon-50 {
    width: 50px;
    height: 50px;
}

.pda-icon.pda-icon-evaluation { 
    background-image: url('../images/pages/evaluation/icons.svg');
}

.pda-icon.pda-ideas { background-position: 0 0; }
.pda-icon.pda-presented { background-position: 0 -32px; }
.pda-icon.pda-contents { background-position: 0 -64px; }
.pda-icon.pda-speaking { background-position: 0 -96px; }
.pda-icon.pda-visual-aids { background-position: 0 -128px; }
.pda-icon.pda-rating-1 { background-position: 0 -250px; }
.pda-icon.pda-rating-2 { background-position: 0 -300px; }
.pda-icon.pda-rating-3 { background-position: 0 -350px; }
.pda-icon.pda-rating-4 { background-position: 0 -400px; }
.pda-icon.pda-rating-5 { background-position: 0 -450px; }
.pda-icon.pda-icon-star { background-position: 0 -161px; }



/* Evaluation Menus */
.evaluation-menus {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 0;
    text-align: center;
}

.evaluation-menu {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    margin: 6px;
}

.evaluation-menu .evaluation-btn:hover {
    background-color: #1FADAB;
}

.evaluation-btn {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    background-color: #D3D3D3;
    cursor: pointer;
    transition: background-color 2ms;
}



.evaluation-menu.active .evaluation-btn {
    background-color: #1FADAB;
}

.evaluation-title {
    text-transform: uppercase;
    color: #1FADAB;
    font-size: 18px;
    text-align: center;
    margin: 1rem 0;
}

.evaluation-total:empty { display: none; }



/* Emoticons */
.emoticons {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.emoticon {
    display: inline-block;
    margin: 6px;
    cursor: pointer;
}

.emoticon-star {
    display: block;
    font-size: 0;
}


/* Form */
.pda-login-form {
    padding: 2rem 2.5rem 3rem;
    border-radius: 25px;
    width: 100%;
    margin: 15% auto 0;
}
.pda-login-form h4 {
    color: #304C95;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
}
.pda-login-form .pda-form-logo {
    width: 120px;
    height: 120px;
}
.pda-login-form .form-control {
    color: #1FADAB;
    width: 100%;
    border: none;
}

.pda-login-form .form-control::-webkit-input-placeholder { color: #1FADAB; }
.pda-login-form .form-control:-moz-placeholder { 
   color: #1FADAB; 
   opacity: 1;
}
.pda-login-form .form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #1FADAB;
   opacity: 1;
}
.pda-login-form .form-control:-ms-input-placeholder { color: #1FADAB; }
.pda-login-form .form-control::-ms-input-placeholder { color: #1FADAB; }
.pda-login-form .form-control::placeholder { color: #1FADAB; }


.pda-login-form .btn.btn-login {
    background-color: #FFFFFF;
    color: #1FADAB;
    width: 150px;
}
.pda-login-form .btn.btn-login:hover {
    background-color: #F1F1F1;
}
.pda-login-form .form-control,
.pda-login-form .btn.btn-login {
    box-shadow: 0 2px 6px rgba(0, 0, 3, 0.16);
}

.speaker-list {
    text-align: center;
    font-size: 0;
    font-family: Oswald;
    padding: 1rem;
}

.speaker-item {
   display: inline-block;
   font-size: 14px;
   margin: 5px;
   width: 80%;
}

.speaker-item-body {
    padding-left: 90px;
    text-align: left;
}

.card.speaker-item-card {
    border-radius: 13px;
    border-color: #707070;
}

.speaker-item-photo {
    position: absolute;
    top: 15px;
    left: 10px;
    width: 70px;
    height: 70px;
    -o-object-fit: contain;
    object-fit: contain;
    border-radius: 50%;
}

.speaker-item-title,
.speaker-item-position {
    color: #000000;
    font-size: 14px;
    font-weight: 500;
}

.speaker-item-title h4 {
    font-size: 16px;
    text-transform: uppercase;
    color: #1FADAB;
    display: inline-block;
    margin: 0;
}

.ratings-wrapper {
    font-size: 0;
}

.ratings-wrapper > * { 
    display: inline-block; 
    vertical-align: middle;
}

.ratings-wrapper span {
    font-size: 10px;
    margin-left: 6px;
}

.ratings-wrapper span:empty { display: none; }

.btn-primary.pda-btn-primary.btn-evaluate {
    width: 130px;
    text-transform: uppercase;
    border-radius: 15px;
    padding: 4px 10px;
    font-size: 14px;
}

/* Modal */
.modal-footer.pda-modal-footer button {
    border-radius: 15px;
    padding: 3px 10px;
}




@media only screen and (min-width: 577px) {
    .speaker-item {
        width: calc(60% - 10px);
    }
}

@media only screen and (min-width: 767px) {
    .pda-login-form {
        border: 1px solid #707070;
        box-shadow: 0 3px 6px rgba(112, 112, 112, 0.16);
        width: 400px;
    }

    .pda-login-form h4 {
        font-size: 1.3rem;
    }

    .pda-login-form .pda-form-logo {
        width: 160px;
        height: 160px;
    }

    .speaker-item {
        width: calc(50% - 10px);
    }

    .pda-login-form .form-control {
        width: 300px;
    }
}

@media only screen and (min-width: 991px) {
    .speaker-item {
        width: calc(33.33% - 10px);
    }
}



/* Feedback Form */
.feedback-form textarea {
    resize: none;
    border-radius: 14px;
    color: #828282;
}   
