.evaluation-page__content { 
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 1rem 0;
}

@media only screen and (min-width: 769px) {
    .evaluation-page__content { padding: 3rem 1rem; }
}

@media only screen and (min-width: 993px) {
    .evaluation-page__content { padding: 3rem 2rem; }
}

@media only screen and (min-width: 1367px) { 
    .evaluation-page__content {  padding: 3rem; }
}

/* Icons */
.pda-icon-13 {
    width: 13px;
    height: 13px;
}
.pda-icon-16 {
    width: 16px;
    height: 16px;
}
.pda-icon-30 {
    width: 30px;
    height: 30px;
}
.pda-icon-32 {
    width: 32px;
    height: 32px;
}
.pda-icon-42 {
    width: 42px;
    height: 42px;
}
.pda-icon-50 {
    width: 50px;
    height: 50px;
}

.pda-icon.pda-icon-evaluation { 
    background-image: url('../images/pages/evaluation/icons.svg');
}

.pda-icon.pda-ideas { background-position: 0 0; }
.pda-icon.pda-presented { background-position: 0 -30px; }
.pda-icon.pda-contents { background-position: 0 -60px; }
.pda-icon.pda-speaking { background-position: 0 -90px; }
.pda-icon.pda-visual-aids { background-position: 0 -120px; }
.pda-icon.pda-rating-1 { background-position: 0 -210px; }
.pda-icon.pda-rating-2 { background-position: 0 -252px; }
.pda-icon.pda-rating-3 { background-position: 0 -294px; }
.pda-icon.pda-rating-4 { background-position: 0 -336px; }
.pda-icon.pda-rating-5 { background-position: 0 -378px; }
.pda-icon.pda-icon-star { background-position: 0 -161px; }
.pda-icon.pda-icon-star-13 { background-position: 0 -130px; }




/* Evaluation Menus */
.evaluation-menus {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 0;
    text-align: center;
}

.evaluation-menu {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    margin: 6px;
}

.evaluation-menu .evaluation-btn:hover {
    background-color: #1FADAB;
}

.evaluation-btn {
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    background-color: #D3D3D3;
    cursor: pointer;
    transition: background-color 2ms;
}



.evaluation-menu.active .evaluation-btn {
    background-color: #1FADAB;
}

.evaluation-title {
    text-transform: uppercase;
    color: #1FADAB;
    font-size: 18px;
    text-align: center;
    margin: 1rem 0;
}

.evaluation-total:empty { display: none; }



/* Emoticons */
.emoticons {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.emoticon {
    display: inline-block;
    margin: 6px;
    cursor: pointer;
}

.emoticon-star {
    display: block;
    font-size: 0;
}


/* Form */
.pda-login-form {
    padding: 2rem 2.5rem 3rem;
    border-radius: 25px;
    width: 100%;
    margin: 5% auto 0;
}
.pda-login-form h4 {
    color: #304C95;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
}
.pda-login-form .pda-form-logo {
    width: 120px;
    height: 120px;
}
.pda-login-form .form-control {
    color: #1FADAB;
    width: 100%;
    border: none;
}

.pda-login-form .form-control::-webkit-input-placeholder { color: #1FADAB; }
.pda-login-form .form-control:-moz-placeholder { 
   color: #1FADAB; 
   opacity: 1;
}
.pda-login-form .form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #1FADAB;
   opacity: 1;
}
.pda-login-form .form-control:-ms-input-placeholder { color: #1FADAB; }
.pda-login-form .form-control::-ms-input-placeholder { color: #1FADAB; }
.pda-login-form .form-control::placeholder { color: #1FADAB; }


.pda-login-form .btn.btn-login {
    background-color: #FFFFFF;
    color: #1FADAB;
    width: 150px;
}
.pda-login-form .btn.btn-login:hover {
    background-color: #F1F1F1;
}
.pda-login-form .form-control,
.pda-login-form .btn.btn-login {
    box-shadow: 0 2px 6px rgba(0, 0, 3, 0.16);
}

.speaker-list {
    text-align: center;
    font-size: 0;
    font-family: Oswald;
    padding: 1rem;
}

.speaker-item {
   display: inline-block;
   font-size: 14px;
   margin: 5px;
   width: 90%;
}

.speaker-item-body {
    padding-left: 90px;
    text-align: left;
}

.card.speaker-item-card {
    border-radius: 16px;
    border-color: #707070;
}

.speaker-item-photo {
    position: absolute;
    top: 15px;
    left: 10px;
    width: 70px;
    height: 70px;
    -o-object-fit: contain;
    object-fit: contain;
    border-radius: 50%;
}

.speaker-item-title,
.speaker-item-position {
    color: #000000;
    font-size: 14px;
    font-weight: 500;
}

.speaker-item-title h4 {
    font-size: 16px;
    text-transform: uppercase;
    color: #1FADAB;
    display: inline-block;
    margin: 0;
}

.ratings-wrapper {
    font-size: 0;
}

.ratings-wrapper > * { 
    display: inline-block; 
    vertical-align: middle;
}

.ratings-wrapper span {
    font-size: 10px;
    margin-left: 6px;
}

.ratings-wrapper span:empty { display: none; }

.btn-primary.pda-btn-primary.btn-evaluate {
    width: 130px;
    text-transform: uppercase;
    border-radius: 15px;
    padding: 4px 10px;
    font-size: 14px;
}

/* Modal */
.modal-footer.pda-modal-footer button {
    border-radius: 15px;
    padding: 3px 10px;
}




@media only screen and (min-width: 577px) {
    .speaker-item {
        width: calc(70% - 10px);
    }

    .pda-login-form {
        width: 400px;
        margin-top: 15%;
    }
}

@media only screen and (min-width: 767px) {
    .pda-login-form {
        border: 1px solid #707070;
        box-shadow: 0 3px 6px rgba(112, 112, 112, 0.16);
    }

    .pda-login-form h4 {
        font-size: 1.3rem;
    }

    .pda-login-form .pda-form-logo {
        width: 160px;
        height: 160px;
    }

    .speaker-item {
        width: calc(50% - 10px);
    }

    .pda-login-form .form-control {
        width: 300px;
    }
}

@media only screen and (min-width: 991px) {
    .speaker-item {
        width: calc(33.33% - 10px);
    }
}



/* Feedback Form */
.feedback-form textarea {
    resize: none;
    border-radius: 14px;
    color: #828282;
}   


/* Layout */
.evaluation-content {
    position: relative;
    display: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.evaluation-content.opened {
    display: block;
}

.site-heading {
    text-transform: uppercase;
    color: #1FADAB;
    font-size: 1.5rem;
    text-align: center;
}

@media only screen and (min-width: 769px) {
    .site-heading {
        text-align: left;
        font-size: 1.6rem;
    }
}

/* Evalution Nav */
.evaluation-navs {
    width: 100%;
    margin: 2rem auto;
    padding: 0;
    list-style-type: none;
    font-size: 0;
    font-family: Oswald;
}

.evaluation-nav {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    margin: 10px 0;
}

.evaluation-photo {
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    background-color: #1FADAB;
    text-align: center;
    margin-bottom: 10px;
}

.evaluation-photo img {
    width: 50px;
    height: 50px;
}



@media only screen and (min-width: 769px) {
    .evaluation-nav {
        width: 33.33%;
    }

    .evaluation-navs {
        width: 80%;
        text-align: center;
        margin-top: 15%;
    }
}

@media only screen and (min-width: 993px) {
    .evaluation-nav {
        width: 20%;
    }

    .evaluation-photo {
        display: inline-block;
        width: 120px;
        height: 120px;
        line-height: 120px;
    }

    .evaluation-photo img {
        width: 60px;
        height: 60px;
    }
}



.evaluation-form {
    font-family: Oswald;
    font-size: 0;
}

.evaluation-main-heading {
    background-color: #1FADAB;
    color: #FFFFFF;
    font-size: 1.5rem;
    padding: 8px 1rem;
    text-align: center;
}

.evaluation-item-heading {
    background-color: #8ED2CD;
    color: #FFFFFF;
    font-size: 1.2rem;
    text-align: center;
    padding: 8px 1rem;
}

.evaluation-item-options {
    font-size: 0;
    text-align: center;
}

.evaluation-item-options:last-of-type {
    margin-bottom: 1rem;
}

.evaluation-item-options >  div {
    display: block;
    font-size: 1rem;
}

.evaluation-item-options:not(.has-input) > div:first-of-type {
    background-color: #F7F7F7;
    height: 35px;
    line-height: 35px;
}

.evaluation-item-options > div:not(:first-of-type) {
    display: inline-block;
    height: 53px;
    line-height: 53px;
}

.evaluation-item-options:not(.has-input) > div:last-of-type {
    margin-left: 10px;
    color: #1FADAB;
}

.comments-form-group {
    font-size: 14px;
    width: 100%;
    padding: 1rem;
}

#comments-textarea {
    border-radius: 15px;
    border: 1px solid #707070;
    resize: none;
}

.btn-submit {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 150px;
    border-radius: 20px;
}


@media only screen and (min-width: 769px) {
    .evaluation-main-heading {
        text-align: left;
        padding: 8px 2rem;
    }

    .evaluation-item-heading {
        text-align: left;
        padding: 8px 2rem;
        margin-bottom: 10px;
    }

    .evaluation-item-options {
        font-size: 0;
        text-align: left;
    }

    .evaluation-item:not(:last-of-type) .evaluation-item-options {
        background-color: #F7F7F7;
        border-bottom: 5px solid #1FADAB;
        font-size: 0;
        text-align: left;
    }

    .evaluation-item-options:not(.has-input) > div:first-of-type {
        width: calc(100% - 300px);
        height: 53px;
        line-height: 53px;
        padding-left: 3rem;
    }

    .evaluation-item-options:not(.has-input) > div:nth-child(2) {
        width: 200px;
        text-align: center;
    }

    .evaluation-item-options:not(.has-input) > div:last-of-type {
        margin-left: 0;
        width: 100px;
        text-align: center;
    }

    .evaluation-item-options >  div {
        display: inline-block;
        vertical-align: top;
    }

    .comments-form-group { 
        width: 50%;
        padding: 1rem 0;
    }

    .btn-submit {
        position: absolute;
        right: 1rem;
        bottom: 3rem;
    }
}
