/* 
 * Reset
 ********************************************************************************/
body {
    font-family: 'Roboto', sans-serif;
    background-color: #E4E4E4;
    color: #7F7F7F;
}






/* 
 * Overwrite Vendors
 ********************************************************************************/
.modal-backdrop {
    background-color: #1FADAB;
}

.text-danger {
    color: #FF0000!important;
}




/* 
 * Colors
 ********************************************************************************/
.pda-primary-text { color: #1FADAB; }
.pda-primary-bg { background-color: #1FADAB; }
.pda-tertiary-bg { background-color: #304C95; }



/* 
 * Buttons
 ********************************************************************************/
.btn-primary.pda-btn-primary,
.btn-primary:not(:disabled):not(.disabled):active { 
    background-color: #1FADAB;
    border-color: #1FADAB;
}
.btn-primary.pda-btn-primary:hover { 
    background-color: #1b9593;
    border-color:  #1b9593;
}

.btn-primary.pda-btn-tertiary,
.btn-primary:not(:disabled):not(.disabled):active { 
    background-color: #304C95;
    border-color: #304C95;
}
.btn-primary.pda-btn-tertiary:hover { 
    background-color: #273f7c;
    border-color:  #273f7c;
}




/* 
 * Icons
 ********************************************************************************/
.pda-icon {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pda-icon.pda-icon-global { 
    background-image: url('../images/global/icons/icons.svg'); 
    width: 32px;
    height: 32px;
}

.pda-icon.pda-about { 
    background-position: 0 -32px; 
}
.pda-icon.pda-venue { 
    background-position: 0 -96px; 
}
.pda-icon.pda-program { 
    background-position: 0 -160px; 
}
.pda-icon.pda-speakers { 
    background-position: 0 -223px; 
}
.pda-icon.pda-evaluation { 
    background-position: 0 -160px; 
}
.pda-icon.pda-more-horiz { 
    background-position: 0 -319px; 
}


.pda-icon.menu {
    background-image: url('../images/global/menu.svg');
    background-position: 0 0;
    width: 24px;
    height: 24px;
}

@media only screen and (min-width: 769px) {
    .pda-icon.pda-icon-global { 
        width: 32px;
        height: 32px;
    }

    .pda-icon.pda-about { 
        background-position: 0 -32px; 
    }
    .pda-icon.pda-venue { 
        background-position: 0 -96px; 
    }
    .pda-icon.pda-program { 
        background-position: 0 -160px; 
    }
    .pda-icon.pda-speakers { 
        background-position: 0 -224px; 
    }
    .pda-icon.pda-evaluation { 
        background-position: 0 -288px; 
    }
    .pda-icon.pda-more-horiz { 
        background-position: 0 -319px; 
    }
}




/* 
 * Modal
 ********************************************************************************/
.modal-header.pda-modal-header {
    min-height: 117px;
    border-bottom: none;
}

.modal-close-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 60px;
    padding: 0;
    z-index: 0;
    cursor: pointer;
}

.modal-close-btn:hover .modal-close-btn .overlay {
    border-left-color: #1c9d9b;
}

.modal-close-btn .pda-icon-global.pda-close-white-16 {
    background-position: 0 -175px; 
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
}

.modal-close-btn .overlay {
    position: absolute;
    top: -10px;
    right: 5px;
    width: 0;
    height: 0;
    border-top: 33px solid transparent;
    border-bottom: 33px solid transparent;
    border-left: 33px solid #1FADAB;
    transform: rotate(-45deg);
    z-index: -1;
}

.modal-content.pda-modal-content {
    font-family: Oswald;
    font-size: 13px;
    color: #828282;
    border: none;
    box-shadow: 0 5px 6px rgba(0, 0, 0, .16);
}

.modal-footer.pda-modal-footer {
    border-top-color: transparent;
    justify-content: center;
}

.modal-footer.pda-modal-footer .btn-back {
    width: 125px;
    font-size: 14px;
}


/* 
 * Layout
 ********************************************************************************/
.pda-main-container {   
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100vh;
    background: #FFFFFF url(../images/global/bg1.png) no-repeat fixed bottom right;
    background-size: contain; 
    margin-left: auto;
    margin-right: auto;
    padding-top: 65px;
    padding-left: 0;
    overflow-y: auto;
}

.pda-content {
    min-height: calc(100vh - 65px);
    height: auto;
}

.page-heading {
    color: #1FADAB;
    text-align: center;
}

.program-page__content {
    width: 100%;
}


@media only screen and (min-width: 769px) { 
    .pda-main-container {
        padding-top: 0;
        padding-left: 87px;
    }
    
    .page-heading {
        text-align: left;
    }
}
@media only screen and (min-width: 1367px) { 
    .pda-main-container {
        width: 1200px; 
        margin-left: auto;
        margin-right: auto;
    }
}




/* 
 * Sidebar
 ********************************************************************************/
.sidebar-nav {
    width: 100%;
    height: 65px;
    line-height: 65px;
    background-color: #F7F7F7;
    background-image: url('../images/global/header-bg.jpg');
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    position: fixed;
    top: 0;
    left: 0;
    text-align: inherit;
    font-size: 0;
    padding: 0 0.75rem;
}

@media only screen and (min-width: 769px) {
    .sidebar-nav {
        background-image: none;
    }
}

.sidebar-nav .nav {
    background-color: #FFFFFF;
    display: none;
    font-size: 1rem;
    text-align: center;
    -ms-flex-direction: column;
    flex-direction: column;
}
.sidebar-nav .nav li:first-of-type,
.sidebar-nav .nav li:last-of-type {
    width: calc(100% - 32px);
    margin-left: auto;
}

.sidebar-nav .nav-opened {
    display: block;
    position: fixed;
    top: 65px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.sidebar-brand {
    display: inline-block;
}
.sidebar-brand-logo {
    width: 50px;
    height: 50px;
}


.nav-link {
    color: #1FADAB;
    padding: 0 2rem;
    font-size: 0;
}

.nav-link:focus {
    background-color: #7ACBC5;
    color: #FFFFFF;
}
.nav-link:hover {
    background-color: #f0f0f0;
    color: #1FADAB;
}

.nav-link.active {
    background-color: #7ACBC5;
}

.nav-link.active .pda-icon.pda-about { 
    background-position: 0 0; 
}
.nav-link.active .pda-icon.pda-venue { 
    background-position: 0 -64px; 
}
.nav-link.active .pda-icon.pda-program { 
    background-position: 0 -128px; 
}
.nav-link.active .pda-icon.pda-speakers { 
    background-position: 0 -192px; 
}
.nav-link.active .pda-icon.pda-evaluation { 
    background-position: 0 -256px; 
}
.nav-link.active .pda-icon.pda-more-horiz { 
    background-position: 0 -320px; 
}

.nav-label {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1rem;
    vertical-align: middle;
    width: calc(100% - 32px);
}
.nav-link.active .nav-label {
    color: #FFFFFF;
}

@media only screen and (min-width: 769px) {
    .sidebar-nav {
        height: 100vh;
        width: 87px;
        text-align: center;
        padding: 2rem 0;
        line-height: normal;
    }

    .sidebar-nav .nav {
        background-color: transparent;
        display: block;
    }
    .sidebar-nav .nav li:first-of-type,
    .sidebar-nav .nav li:last-of-type {
        width: auto;
        margin-left: 0;
    }


    .sidebar-brand {
        margin-bottom: 1rem;
    }

    .sidebar-brand-logo {
        width: 65px;
        height: 65px;
    }

    .nav-link {
        padding: 1rem 0;
    }

    .nav-label {
        display: block;
        width: calc(100% - 32px);
        font-size: 10px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1200px) {

    .sidebar-brand {
        margin-bottom: 1rem;
    }

    .nav-label {
        font-size: 11px;
    }
}

@media only screen and (min-width: 1367px) { 
    .sidebar-nav {
        left: initial;
        margin-left: -87px;
    }
}




/* 
 * Main Page
 ********************************************************************************/

.main-page__content {

}

.main-heading {
    color: #304C95;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-toggler {
    display: inline-block;
}

@media only screen and (min-width: 769px) {
    .main-page__content {
        padding: 3rem 2rem;
    }

    .btn-toggler {
        display: none;
    }
}


@media only screen and (min-width: 1367px) { 
    .main-page__content {
        padding: 3rem;
    }
}






/* 
 * About Page
 ********************************************************************************/
.pda-container .about-page__content {
    height: auto;
    min-height: 0;
}

.about-page__content {
    padding: 1rem;
}

.pda-photo {
    width: 110px;
    height: 110px;
    -o-object-fit: contain;
    object-fit: contain;
}

.doc-photo {
    width: 100%;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
}

@media only screen and (min-width: 769px) {
    .about-page__content {
        padding: 3rem 2rem;
    }

    .doc-photo {
        width: 397px;
        margin-left: auto;
        display: block;
    }
}

@media only screen and (min-width: 993px) {
    .about-page__content {
        padding: 3rem 250px 3rem 2rem;
    }

    .doc-photo {
        position: absolute;
        right: 0;
    }
}

@media only screen and (min-width: 1367px) { 
    .about-page__content {
        padding: 3rem;
    }
}



/* 
 * Speakers Page
 ********************************************************************************/
.speakers-page__content {
    padding: 1rem 0;
}

.speakers {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.speaker {
    padding: 1rem;
    width: 50%;
}
.speaker span { color: #828282; }

.speaker-photo {
    width: 90px;
    height: 90px;
    -o-object-fit: contain;
    object-fit: contain;
}

.speaker-link {
    color: inherit;
    font-family: Oswald;
}

.speaker-link:hover {
    text-decoration: none;
    color: inherit;
}

.pda-modal-header-summary {
    font-size: 14px;
    font-weight: 500;
    color: #000000;
    margin-top: auto;
    padding-left: 95px;
    width: 90%;
}

.pda-modal-header-summary img {
    position: absolute;
    top: 16px;
    left: 15px;
    width: 84px;
    height: 84px;
    -o-object-fit: contain;
    object-fit: contain;
}

.pda-modal-header-summary > div h4 {
    display: inline-block;
    color: #1FADAB;
    text-transform: uppercase;
    margin: 0;
}

.pda-modal-header-summary hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border-top-color: #1FADAB;
}

@media only screen and (min-width: 769px) {
    .speakers-page__content {
        padding: 3rem 2rem;
    }
}

@media only screen and (min-width: 993px) {
    .speaker {
        width: 33.33%;
    }
}

@media only screen and (min-width: 1367px) { 
    .speakers-page__content {
        padding: 3rem;
    }
}



/* 
 * Program Page
 ********************************************************************************/
.program-page__content {
    padding: 1rem 0;
}

.program-schedule .page-heading {
    margin: 0;
}

.schedule-range-label {
    margin: 0;
    font-weight: 500;
}

.schedule-list {
    margin: 2rem 0 0 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    cursor: pointer;
}

.schedule-item {
    width: 128px;
    height: 128px;
    line-height: 128px;
    display: inline-block;
    background: url('../images/pages/program/day.svg') no-repeat center;
    text-align: center;
    color: #1FADAB;
    font-family: Oswald;
    font-size: 3.6rem;
    font-weight: bold;
    margin: 1rem;
}

.schedule-item:hover {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.program-dates {
    font-size: 1rem;
    color: #1FADAB;
    text-transform: uppercase;
    padding-left: 7px;
}

.nav-tabs.program-nav-tabs {
    border-bottom: 3px solid #1FADAB;
    padding: 0 7px;
}

.nav-tabs.program-nav-tabs .nav-item.program-nav-item {
    margin-bottom: 0;
}

.nav-link.program-nav-link {
    background-color: #EFF0F2;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 8px;
    margin: 0 2px;
}
.nav-link.program-nav-link.active {
    background-color: #1FADAB;
    color: #FFFFFF;
    border-color: #1FADAB;
    border-bottom-color: #7ACBC5;
    padding: 8px 0;
}


@media only screen and (min-width: 769px) {
    .program-page__content {
        padding: 3rem 0;
    }
}

@media only screen and (min-width: 1367px) { 

}





/* 
 * Venue Page
 ********************************************************************************/
.btn.btn-view-direction {
    width: 160px;
    border-radius: 20px;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}