.program-page__content {
    padding: 1rem 0;
}

.program-schedule .page-heading {
    margin: 0;
}

.schedule-range-label {
    margin: 0;
    font-weight: 500;
}

.schedule-list {
    margin: 2rem 0 0 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    cursor: pointer;
}

.schedule-item {
    width: 128px;
    height: 128px;
    line-height: 128px;
    display: inline-block;
    background: url('../images/pages/program/day.svg') no-repeat center;
    text-align: center;
    color: #1FADAB;
    font-family: Oswald;
    font-size: 3.6rem;
    font-weight: bold;
    margin: 1rem;
}

.schedule-item:hover {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.program-dates {
    font-size: 1rem;
    color: #1FADAB;
    text-transform: uppercase;
    padding-left: 7px;
}

.nav-tabs.program-nav-tabs {
    border-bottom: 3px solid #1FADAB;
    padding: 0 7px;
}

.nav-tabs.program-nav-tabs .nav-item.program-nav-item {
    margin-bottom: 0;
}

.nav-link.program-nav-link {
    background-color: #EFF0F2;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 8px;
    margin: 0 2px;
    font-size: 14px;
}
.nav-link.program-nav-link.active {
    background-color: #1FADAB;
    color: #FFFFFF;
    border-color: #1FADAB;
    border-bottom-color: #7ACBC5;
    padding: 8px 0;
}


@media only screen and (min-width: 769px) {
    .program-page__content {
        padding: 3rem 0;
    }
}

@media only screen and (min-width: 1367px) { 

}


/* Speakers Schedule */
.speaker-schedule {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.speaker-schedule p {
    margin: 0;
    color: #7F7F7F;
}



/* Tabs */
.tab-content>.tab-pane:empty { display: none; }
.tab-content>.tab-pane { padding: 1rem; }