.program-page__content {
    padding: 1rem 0;
}

.program-schedule .page-heading {
    margin: 0;
}

.schedule-range-label {
    margin: 0;
    font-weight: 500;
}

.schedule-list {
    margin: 2rem 0 0 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    cursor: pointer;
}

.schedule-item {
    width: 128px;
    height: 128px;
    line-height: 128px;
    display: inline-block;
    background: url('../images/pages/program/day.svg') no-repeat center;
    text-align: center;
    color: #1FADAB;
    font-family: Oswald;
    font-size: 3.6rem;
    font-weight: bold;
    margin: 1rem;
}

.schedule-item:hover {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.program-dates {
    font-size: 1rem;
    color: #1FADAB;
    text-transform: uppercase;
    padding-left: 7px;
}

.nav-tabs.program-nav-tabs {
    border-bottom: 3px solid #1FADAB;
    padding: 0 7px;
}

.nav-tabs.program-nav-tabs .nav-item.program-nav-item {
    margin-bottom: 0;
}

.nav-link.program-nav-link {
    background-color: #EFF0F2;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 8px;
    margin: 0 2px;
    font-size: 14px;
}
.nav-link.program-nav-link.active {
    background-color: #1FADAB;
    color: #FFFFFF;
    border-color: #1FADAB;
    border-bottom-color: #7ACBC5;
    padding: 8px 0;
}


@media only screen and (min-width: 769px) {
    .program-page__content {
        padding: 3rem 0;
    }
}

@media only screen and (min-width: 1367px) { 

}


/* Speakers Schedule */
.speaker-schedule {
    margin: 0 0 1.5rem;
    padding: 0;
    list-style-type: none;
    text-align: center;    
    min-height: 50px;
    line-height: normal;
}

.speaker-schedule > * {
    width: 100%;
    margin-bottom: 8px;
}


.speaker-schedule p {
    margin: 0;
    color: #7F7F7F;
}

.schedule-time {
    color: #304C95;
    font-weight: bold;
}


/* Dropdown tab menus */
.program-menus { 
    font-size: 0; 
    border-bottom: 1px solid #cdcdcd;
}

.program-menus .dropdown {
    display: inline-block;
    text-transform: uppercase;
    width: 100%;
}

.program-menus button { 
    width: 100%;
    background-color: #FFFFFF;
    color: #1FADAB;
    border-color: #cdcdcd;
    border-radius: 0; 
}

.program-menus .dropdown-menu.nav { 
    display: none; 
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
}

.program-menus .dropdown-menu.show { 
    display: block; 
    width: 100%;
}

.program-menus .dropdown-menu {
    margin: 0;
    padding: 0;
    border-color: #cdcdcd;
    border-radius: 0;
}

.dropdown-nav-link {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: .25rem 1.5rem;
    margin: 0;
    font-size: 14px;
}

.dropdown-nav-link.active,
.program-menus .dropdown-item:active {
    background-color: #1FADAB;
    color: #FFFFFF;
    border-color: #1FADAB;
    border-bottom-color: #7ACBC5;
}

.program-menus .btn:focus {
    box-shadow: none;
}

.program-menus .btn:hover {
    color: #1FADAB;
    background-color: #f8f9fa;
}

.program-menus .dropdown-item {
    color: #1FADAB;
}

.program-menus .dropdown-item:active {
    background-color: #1FADAB;
}

.program-menus .dropdown-item:not(:last-of-type),
.dropdown-nav-link:not(:last-of-type) { border-bottom: 1px solid #cdcdcd; }


@media only screen and (min-width: 575px) {

    .program-menus .dropdown {
        width: 50%;
    }

    .program-menus .dropdown-menu.nav.show { 
        width: auto;
    }

    .date-dropdown > button:first-of-type { border-right: none; }

}

@media only screen and (min-width: 769px) {
    .program-menus .dropdown {
        width: auto;
    }
}

@media only screen and (min-width: 993px) {
    .speaker-schedule {
        margin-bottom: 0;
    }

    .speaker-schedule > * {
        width: 33.33%;
    }

    .schedule-time {
        color: inherit;
        font-weight: normal;
    }
}




.tab-content>.tab-pane:empty { display: none; }
.tab-content>.tab-pane { padding: 1rem; }

