.section-1 {
    background: url(../images/pages/about/about-intro.jpg) no-repeat center;
    background-size: cover;
}

.section-2 {
    padding: 2rem 0;
}

.employee-info {
    background-color: #F4F4F4;
}

.mission-section,
.vision-section {
    padding: 3rem 0;
    font-size: 1.2rem;
}

header.fixed-top .lbs-main-nav-item:nth-child(1) { order: 2; }
header.fixed-top .lbs-main-nav-item:nth-child(2) { order: 3; }
header.fixed-top .lbs-main-nav-item:nth-child(3) { order: 4; }
header.fixed-top .lbs-main-nav-item:nth-child(4) { 
    order: 0; 
    margin-right: 0;
    margin-left: 0;
}
header.fixed-top .lbs-main-nav-item:nth-child(5) { 
    order: 1; 
    margin-right: auto;
}  
header.fixed-top .lbs-main-nav-item:nth-child(6) { order: 5; }
header.fixed-top .lbs-main-nav-item:nth-child(7) { order: 6; }
