
/* Reset */
body {
    font-family: Oswald;
    color: #848484;
}



/* Helpers */
.btn-outline-white {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.text-gray { color:#848484; }
.text-light-green { color: #90C23E; }
.text-light-orange { color: #F78E1E; }

/* Icons */
.lbs-icon {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 32px;
    height: 32px;
}

.lbs-icon-fb { background-image: url('../images/global/icons/fb.svg'); }
.lbs-icon-twitter { background-image: url('../images/global/icons/twitter.svg'); }
.lbs-icon-email { background-image: url('../images/global/icons/globe.svg'); }


/* Buttons */
.btn.btn-outline-white:hover {
    background-color: #FFFFFF;
}

.btn-light-orange {
    color: #fff;
    background-color: #F78E1E;
    border-color: #F78E1E;
}
    .btn-light-orange:hover {
        color: #fff;
        background-color: #ec8210;
        border-color: #ec8210;
    }

.btn-link-light-green {
    color: #90C23E;
}
    .btn-link-light-green:hover {
        color: #749c31;
    }



/* Header */
header {
    width: 100%;
    position: absolute;
    top: 0;
}

header.fixed-top .navbar.lbs-main-navbar {
    padding-top: .5rem;
    /* opacity: 0.9; */
    background-color: #45616d;
}

.navbar.lbs-main-navbar {
    background-color: #314750;
    padding-top: 1rem;
    transition: all 300ms ease-out;
}

.navbar-collapse.lbs-main-navbar-collapse {
    align-items: flex-end;
}

.nav-link.lbs-main-nav-link {
    color: #FFFFFF;
    text-transform: uppercase;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav.lbs-main-navbar-nav .nav-link.lbs-main-nav-link  {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
}

.nav-link.lbs-main-nav-link.active {
    color: #90C23E;
    border-top: 1px solid #90C23E;
}

header.fixed-top .nav-link.lbs-main-nav-link.active {
    color: #FFFFFF;
    border-top: none;
    font-size: 1.3rem;
}

.navbar-brand img {
    width: 200px;
    height: auto;
}

.lbs-main-nav-item:nth-child(1) { order: 0; }
.lbs-main-nav-item:nth-child(2) { order: 1; }
.lbs-main-nav-item:nth-child(3) { order: 2; }
.lbs-main-nav-item:nth-child(4) { 
    order: 3; 
    margin-right: auto;
    margin-left: auto;
}
.lbs-main-nav-item:nth-child(5) { order: 4; }
.lbs-main-nav-item:nth-child(6) { order: 5; }
.lbs-main-nav-item:nth-child(7) { order: 6; }

/* Layout */
.lbs-page {
    padding-top: 87px;
}

/* Section */
.lbs-section {
    width: 100%;
    height: calc(100vh - 87px);
    min-height: calc(100vh - 87px);
    padding: 4rem 0 2rem;
}

.lbs-section-heading {
    color: #9E3178;
}

.lbs-section-label {
    color: #848484;
    font-size: 1.5rem;
}

/* Footer */
.footer-details {
    position: relative;
    background: url(../images/global/footer-bg.jpg) no-repeat center;
    background-size: cover;
    color: #FFFFFF;
    padding: 5rem 0;
}

.footer-details-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .60);
    z-index: 0;
}

.row-footer-detail div[class^='col-']:not(:last-of-type) .footer-detail {
    border-right: none;
    margin-bottom: 2rem;
}

.footer-detail h5 {
    font-size: 1.5rem;
}

.footer-detail p {
    font-size: 1.3rem;
}

.footer-detail button {
    width: 150px;
}


@media only screen and (min-width: 576px) {
    .footer-detail {
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 768px) {
    .row-footer-detail div[class^='col-']:not(:last-of-type) .footer-detail {
        border-right: 1px solid #FFFFFF;
    }

    .footer-detail h5 {
        font-size: 1.3rem;
    }
}

.navbar.lbs-footer-navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.social-media-list {
    list-style-type: none;
    padding: 0;
}

.social-media-item {
    display: inline-block;
}

.social-media-item:nth-child(1) > .btn-link { color: #002F91; } 
.social-media-item:nth-child(2) > .btn-link { color: #5CB7F6; } 
.social-media-item:nth-child(3) > .btn-link { color: #82D42D; } 

.btn.btn-link {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: transform 1s;
         -o-transition: transform 1s;
            transition: transform 1s;
}

.btn.btn-link:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.copyright-label {
    font-weight: 100;
    font-size: 13px;
}

.nav-link.lbs-footer-nav-link {
    font-weight: 400;
}

.lbs-other-links {
    list-style-type: none;
    padding: 0;
}

.lbs-other-link {
    display: inline-block;
    font-size: 13px;
    font-weight: 100;
}

.lbs-other-link:not(:last-of-type)::after {
    content: '|';
    margin: 0 2px;
}

.lbs-other-link a {
    color: inherit;
}