.technology-heading {
    color: #9E3178;
    font-size: 2rem;
}
@media only screen and (min-width: 992px) { 
    .technology-heading {
        font-size: 2.5rem;
    }
}   


.technology-heading > span {
    color: #90C23E;
}

.technology-label {
    font-size: 1.8rem;
}

.intro-label {
    margin-bottom: 1%;
}



.section-1 {
    width: 100%;
    height: calc(100vh - 87px);
    background: url(../images/pages/technology/technology-intro.jpg) no-repeat center;
    background-size: cover;
}



.section-2 {
    background: url(../images/global/box-bg.jpg) no-repeat center;
    background-size: cover;
}



.section-3 {
    background: url(../images/pages/technology/technology-s3.jpg) no-repeat center;
    background-size: cover;
}

.section-3-heading {
    font-size: 3.5rem;
    font-weight: bold;
}

.section-3-heading,
.section-4-heading {
    padding-left: 2rem;
}


.section-4 {
    padding: 5rem 0;
}


header.fixed-top .lbs-main-nav-item:nth-child(1) { order: 2; }
header.fixed-top .lbs-main-nav-item:nth-child(2) { 
    order: 1; 
    margin-right: auto;
}
header.fixed-top .lbs-main-nav-item:nth-child(3) { order: 3; }
header.fixed-top .lbs-main-nav-item:nth-child(4) { 
    order: 0; 
    margin-right: 0;
    margin-left: 0;
}
header.fixed-top .lbs-main-nav-item:nth-child(5) { order: 4; }  
header.fixed-top .lbs-main-nav-item:nth-child(6) { order: 5; }
header.fixed-top .lbs-main-nav-item:nth-child(7) { order: 6; }
