
/* Reset */
body {
    font-family: Oswald;
    color: #848484;
}



/* Helpers */
.btn-outline-white {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.text-gray { color:#848484; }
.text-light-green { color: #90C23E; }
.text-light-orange { color: #F78E1E; }

/* Icons */
.lbs-icon {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 32px;
    height: 32px;
}

.lbs-icon-fb { background-image: url('../images/global/icons/fb.svg'); }
.lbs-icon-twitter { background-image: url('../images/global/icons/twitter.svg'); }
.lbs-icon-email { background-image: url('../images/global/icons/globe.svg'); }


/* Buttons */
.btn.btn-outline-white:hover {
    background-color: #FFFFFF;
}

.btn-light-orange {
    color: #fff;
    background-color: #F78E1E;
    border-color: #F78E1E;
}
    .btn-light-orange:hover {
        color: #fff;
        background-color: #ec8210;
        border-color: #ec8210;
    }

.btn-link-light-green {
    color: #90C23E;
}
    .btn-link-light-green:hover {
        color: #749c31;
    }




/* Layout */
.lbs-page {
    padding-top: 87px;
}

/* Section */
.lbs-section {
    position: relative;
    width: 100%;
    height: calc(100vh - 87px);
    min-height: calc(100vh - 87px);
    padding: 4rem 0 2rem;
}

.lbs-section-heading {
    color: #9E3178;
}

.lbs-section-label {
    color: #848484;
    font-size: 1.5rem;
}






.lbs-parallax {
    position: relative;
    overflow: hidden;
}

.lbs-bg {
    background: url('../images/pages/test/img_background.jpg') no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
    opacity: 0.7;
}

.lbs-parallax-content {
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    z-index: 2;
}





.lbs-slide {
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.lbs-slide:nth-child(odd) { background-color: #FFFFFF; }
.lbs-slide:nth-child(even) { background-color: #EDEDED; }


.lbs-slide .lbs-slide-wrapper {
    width: 100%;
    height: 100%;
}

.lbs-slide .lbs-slide-img {
    width: 250px;
    height: 250px;
}

.section-5 .lbs-slide-img { background-color: red; }
.section-6 .lbs-slide-img { background-color: green; }
.section-7 .lbs-slide-img { background-color: blue; }
.section-8 .lbs-slide-img { background-color: orangered; }


.section-6 .lbs-slide-wrapper,
.section-7 .lbs-slide-wrapper,
.section-8 .lbs-slide-wrapper {
    transform: translateY(-100%);
}

.scrollmagic-pin-spacer {
    position: absolute !important;
    clip: rect(auto auto auto auto);
}



/* Section 10 */
.section-10-img-wrapper {
    width: 800px;
    height: 500px;
    overflow: hidden; 
    border: 5px solid #000000;
}

img.section-10-img {
    width: 800px;
    height: 500px;
    object-fit: cover;
    transform: scale(1.3);
}

.slide .row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    text-align: center;
}

.intro {
    background: #305a5b;
}

.parallax {
    background: url('../images/pages/test/img_background.jpg') 50% 0 ;
    background-size: cover;
}

.slidein {
    background: #5b3030;
}

.slidein2 {
    position: relative;
    background: #304b5b;
}

.slidein2 .row {
    justify-content:  space-around;
}





.section-14 {
    position: relative;
}